<div class="ui small inverted menu">
<div class="ui container">
  <%= link_to "Chatroom", root_path, class: "item" %>
  <a class="item">
    Messages
  </a>
  <div class="right menu">
    <div class="ui dropdown item">
      Account <i class="dropdown icon"></i>
      <div class="menu">
        <<% if logged_in? %>
         <%= link_to "Logout", logout_path, method: :delete, class: "item" %>
        <% else %>
          <%= link_to "Log in", login_path, class: "item" %>
        <% end %>
      </div>
    </div>
    <% if !logged_in? %>
      <div class="item">
        <%= link_to "Log in", login_path, class: "ui primary button" %>
      </div>
   <% end %>
  </div>
</div>
</div>